<%- include("../partials/header.ejs") %>
    <h1 class="text-3xl text-black pb-6">PhDs and Research Scholar</h1>
    <div class="mt-6">
        <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="/admin/phds/add">Add
            PhDs and Research Scholars</a>
    </div>

    <div class="w-full mt-6 overflow-auto">
        <div class="bg-white">
            <table class="min-w-full leading-normal">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Name
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Designation
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Department
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Institute
                        </th>
                        <th class="px-5 py-3 border-b-2 text-left text-sm font-semibold uppercase tracking-wider">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <% people.forEach((person, i)=>{ %>
                        <tr>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <%= person.name %>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <%= person.designation %>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <%= person.department %>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <%= person.institute %>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <form class="mx-2" action="/admin/morepeople/<%=person._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="hover:text-red-500">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>


                </tbody>
            </table>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>